In [10]:
import pandas as pd
import numpy as np

In [11]:
pd.set_option('display.max_columns', 500)

In [12]:
excel_file = pd.ExcelFile('bps_energy_consumption_2011_2012.xlsx')

raw_2011 = excel_file.parse('2011 Raw')
norm_2011 = excel_file.parse('2011 Normalized ')

raw_2012 = excel_file.parse('2012 Raw')
norm_2012 = excel_file.parse('2012 Normalized')

## Sector/Subsector Names changing

In [91]:
raw_2012[raw_2012['Operation Name'] =='KG-King Campus -Greenhouse']

,Organization Name,Sector Name,Subsector Name,Operation Name,Operation Type,Address,City,Zip,Total Floor Area,Unit,Average Hours per week,Annual Flow,Electricity,Electricity Unit,Natural Gas,Natural Gas2,Fuel Oil 1 & 2,Fuel Oil 1 & 2 Unit,Fuel Oil 4 &6,Fuel Oil 4 &6 Unit,Propane,Propane Unit,Coal Quantity,Coal Unit,Wood,Wood3,District Heating,District Heating Unit,Renewable,Renewable Emission Factor,District Cooling,District Cooling Unit,District Cooling Renewable,District Cooling Renewable Emission Factor,Number of Portables,Swimming Pools,GHG Emissions KG,Energy Intensity ekWh_sqft,Energy Intensity ekWh_mega_litre
10877,Seneca College,Post-secondary Educational Institute,College,KG-King Campus -Greenhouse,Administrative offices and related facilities,13991 Dufferin Street,King City,L7B1B3,2990.38,Square feet,45,0,34538.540775,kWh,9203.203832,Cubic Meter,0,Litre,0,Litre,0,Litre,0,Metric Tonne,0,Metric Tonne,0,Giga Joule,False,0,0,Giga Joule,False,0,0,False,20716.907107,44.257967,0
10918,Seneca College,Post-Secondary Educational Institute,College,KG-King Campus -Greenhouse,Classrooms and related facilities,13991 Dufferin Street,King City,L7B1B3,1201.48,Square feet,45,0,13876.954090,kWh,3697.679004,Cubic Meter,0,Litre,0,Litre,0,Litre,0,Metric Tonne,0,Metric Tonne,0,Giga Joule,False,0,0,Giga Joule,False,0,0,False,8323.674433,44.257967,0
10919,Seneca College,Post-Secondary Educational Institute,College,KG-King Campus -Greenhouse,Laboratories,13991 Dufferin Street,King City,L7B1B3,6045.09,Square feet,45,0,69820.085559,kWh,18604.389894,Cubic Meter,0,Litre,0,Litre,0,Litre,0,Metric Tonne,0,Metric Tonne,0,Giga Joule,False,0,0,Giga Joule,False,0,0,False,41879.482870,44.257967,0

In [72]:
norm_2012[norm_2012['Operation Name'] =='KG-King Campus -Greenhouse']

,Organization Name,Sector Name,Subsector Name,Operation Name,Address,eWh/HDD/ft^2,Energy Intensity (ekWh/ML)
12634,Seneca College,Post-secondary Educational Institute,College,KG-King Campus -Greenhouse,13991 Dufferin Street,13.766086,NaN
12635,Seneca College,Post-secondary Educational Institute,College,KG-King Campus -Greenhouse,13991 Dufferin Street,13.766086,NaN
16683,Seneca College,Municipality,Municipality,KG-King Campus -Greenhouse,13991 Dufferin Street,13.766086,NaN

## Records being duplicated

In [84]:
raw_2012[raw_2012['Operation Name'] == 'Belmont Fire Hall']

,Organization Name,Sector Name,Subsector Name,Operation Name,Operation Type,Address,City,Zip,Total Floor Area,Unit,Average Hours per week,Annual Flow,Electricity,Electricity Unit,Natural Gas,Natural Gas2,Fuel Oil 1 & 2,Fuel Oil 1 & 2 Unit,Fuel Oil 4 &6,Fuel Oil 4 &6 Unit,Propane,Propane Unit,Coal Quantity,Coal Unit,Wood,Wood3,District Heating,District Heating Unit,Renewable,Renewable Emission Factor,District Cooling,District Cooling Unit,District Cooling Renewable,District Cooling Renewable Emission Factor,Number of Portables,Swimming Pools,GHG Emissions KG,Energy Intensity ekWh_sqft,Energy Intensity ekWh_mega_litre
7763,Municipality of Central Elgin,Municipality,Municipality,Belmont Fire Hall,Fire stations and associated offices and facil...,206 Caesar Road,Belmont,N0L1B0,2800,Square feet,10,0,12283.94,kWh,4298.1,Cubic Meter,0,Litre,0,Litre,0,Litre,0,Metric Tonne,0,Metric Tonne,0,Giga Joule,False,0,0,Giga Joule,False,0,0,False,9305.853506,20.701139,0

In [85]:
norm_2012[norm_2012['Operation Name'] == 'Belmont Fire Hall']

,Organization Name,Sector Name,Subsector Name,Operation Name,Address,eWh/HDD/ft^2,Energy Intensity (ekWh/ML)
629,Municipality of Central Elgin,Municipal,Municipality,Belmont Fire Hall,206 Caesar Road,6.280685,NaN
3663,Municipality of Central Elgin,Municipal,Municipality,Belmont Fire Hall,206 Caesar Road,6.280685,NaN

## Some records that I assume should have normalized values, don't

In [30]:
raw_2012[raw_2012['Operation Name'] == 'Kaneff Tower (485)']

,Organization Name,Sector Name,Subsector Name,Operation Name,Operation Type,Address,City,Zip,Total Floor Area,Unit,Average Hours per week,Annual Flow,Electricity,Electricity Unit,Natural Gas,Natural Gas2,Fuel Oil 1 & 2,Fuel Oil 1 & 2 Unit,Fuel Oil 4 &6,Fuel Oil 4 &6 Unit,Propane,Propane Unit,Coal Quantity,Coal Unit,Wood,Wood3,District Heating,District Heating Unit,Renewable,Renewable Emission Factor,District Cooling,District Cooling Unit,District Cooling Renewable,District Cooling Renewable Emission Factor,Number of Portables,Swimming Pools,GHG Emissions KG,Energy Intensity ekWh_sqft,Energy Intensity ekWh_mega_litre
17921,York University,Post-Secondary Educational Institute,University,Kaneff Tower (485),Administrative offices and related facilities,4700 Keele Street,Toronto,M3J1P3,10719.04,Square meters,60,0,1626957,kWh,113669,Cubic Meter,0,Litre,0,Litre,0,Litre,0,Metric Tonne,0,Metric Tonne,0,Giga Joule,False,0,0,Giga Joule,False,0,0,False,371158.630743,24.571281,0

In [88]:
norm_2012[norm_2012['Operation Name'] == 'Kaneff Tower (485)']

Empty DataFrame
Columns: [Organization Name, Sector Name, Subsector Name, Operation Name, Address, eWh/HDD/ft^2, Energy Intensity (ekWh/ML)]
Index: []

## Some records are duplicated

In [102]:
raw_2011[raw_2011['Operation Name'] == 'Accolade Building East (412)']

,Organization Name,Sector Name,SubSector Name,Operation Name,Operation Type,Address,City,ZIP/Postal Code,Total Floor Area,Unit1,Annual Flow,Average Hours Per Week,Electricity,Unit2,Natural Gas,Unit3,Fuel Oil 1 & 2,Unit4,Fuel Oil 4 & 6,Unit5,Propane,Unit6,Coal,Unit7,Wood,Unit8,District Heat,Unit9,Renewable1,Emission Factor1,District Cool,Unit10,Renewable2,Emission Factor2,Swimming Pool,Number of Portables,GHG Emissions(Kg),Energy Intensity (GJ/Mega Litres),Energy Intensity (ekWh/sqft),Energy Intensity (GJ/m2),Energy Intensity (ekWh/Mega Litres)
4451,York University,Post-Secondary Educational Institution,University,Accolade Building East (412),Classrooms and related facilities,4700 Keele Street,Toronto,M3J 1P3,22799.12,Square meters,NaN,106.5,2945043,kWh,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5076.42044,Giga Joule - steam or hot water,0,NaN,4862.281,Giga Joule - chilled water,0,NaN,0,NaN,644538.559901,NaN,19.413706,0.752307,NaN

In [103]:
norm_2011[norm_2011['Operation Name'] == 'Accolade Building East (412)']

,Organization Name,Sector Name,SubSector Name,Operation Name,Address,eWh/HDD/ft^2,Energy Intensity (ekWh/ML)
15537,York University,Post-Secondary Educational Institution,University,Accolade Building East (412),4700 Keele Street,5.28713,NaN
15574,York University,Post-Secondary Educational Institution,University,Accolade Building East (412),4700 Keele Street,5.28713,NaN

## Some records are duplicated with different normalized values

In [99]:
raw_2011[raw_2011['Operation Name'] == 'Technology Enhanced Learning (483)']

,Organization Name,Sector Name,SubSector Name,Operation Name,Operation Type,Address,City,ZIP/Postal Code,Total Floor Area,Unit1,Annual Flow,Average Hours Per Week,Electricity,Unit2,Natural Gas,Unit3,Fuel Oil 1 & 2,Unit4,Fuel Oil 4 & 6,Unit5,Propane,Unit6,Coal,Unit7,Wood,Unit8,District Heat,Unit9,Renewable1,Emission Factor1,District Cool,Unit10,Renewable2,Emission Factor2,Swimming Pool,Number of Portables,GHG Emissions(Kg),Energy Intensity (GJ/Mega Litres),Energy Intensity (ekWh/sqft),Energy Intensity (GJ/m2),Energy Intensity (ekWh/Mega Litres)
4499,York University,Post-Secondary Educational Institution,University,Technology Enhanced Learning (483),Classrooms and related facilities,4700 Keele Street,Toronto,M3J 1P3,32017.61,Square meters,NaN,168,3464060,kWh,13687,Cubic meter,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3366.25388,Giga Joule - steam or hot water,0,NaN,7110.62,Giga Joule - chilled water,0,NaN,0,NaN,644334.800798,NaN,14.92291,0.578283,NaN

In [100]:
norm_2011[norm_2011['Operation Name'] == 'Technology Enhanced Learning (483)']

,Organization Name,Sector Name,SubSector Name,Operation Name,Address,eWh/HDD/ft^2,Energy Intensity (ekWh/ML)
15534,York University,Post-Secondary Educational Institution,University,Technology Enhanced Learning (483),4700 Keele Street,3.924383,NaN
15571,York University,Post-Secondary Educational Institution,University,Technology Enhanced Learning (483),4700 Keele Street,4.498432,NaN

## Some close-together buildings seem to have a large difference in their HDD

In [98]:
raw_york_2011[raw_york_2011['Operation Name'] == 'Behavioural Science Building (358)']

,Organization Name,Sector Name,SubSector Name,Operation Name,Operation Type,Address,City,ZIP/Postal Code,Total Floor Area,Unit1,Annual Flow,Average Hours Per Week,Electricity,Unit2,Natural Gas,Unit3,Fuel Oil 1 & 2,Unit4,Fuel Oil 4 & 6,Unit5,Propane,Unit6,Coal,Unit7,Wood,Unit8,District Heat,Unit9,Renewable1,Emission Factor1,District Cool,Unit10,Renewable2,Emission Factor2,Swimming Pool,Number of Portables,GHG Emissions(Kg),Energy Intensity (GJ/Mega Litres),Energy Intensity (ekWh/sqft),Energy Intensity (GJ/m2),Energy Intensity (ekWh/Mega Litres)
4456,York University,Post-Secondary Educational Institution,University,Behavioural Science Building (358),Administrative offices and related facilities,4700 Keele Street,Toronto,M3J 1P3,8405.81,Square meters,NaN,72.5,1217005,kWh,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15094.3326,Giga Joule - steam or hot water,0,NaN,3405.333,Giga Joule - chilled water,0,NaN,0,NaN,1055274.81707,NaN,62.956768,2.439659,NaN

In [92]:
norm_york_2011[norm_york_2011['Operation Name'] == 'Behavioural Science Building (358)']

,Organization Name,Sector Name,SubSector Name,Operation Name,Address,eWh/HDD/ft^2,Energy Intensity (ekWh/ML)
15519,York University,Post-Secondary Educational Institution,University,Behavioural Science Building (358),4700 Keele Street,17.813251,NaN

In [8]:
(62.956768*1000.)/17.813251

3534.2660359975835

In [93]:
raw_york_2011[raw_york_2011['Operation Name'] == 'Winters College (368)']

,Organization Name,Sector Name,SubSector Name,Operation Name,Operation Type,Address,City,ZIP/Postal Code,Total Floor Area,Unit1,Annual Flow,Average Hours Per Week,Electricity,Unit2,Natural Gas,Unit3,Fuel Oil 1 & 2,Unit4,Fuel Oil 4 & 6,Unit5,Propane,Unit6,Coal,Unit7,Wood,Unit8,District Heat,Unit9,Renewable1,Emission Factor1,District Cool,Unit10,Renewable2,Emission Factor2,Swimming Pool,Number of Portables,GHG Emissions(Kg),Energy Intensity (GJ/Mega Litres),Energy Intensity (ekWh/sqft),Energy Intensity (GJ/m2),Energy Intensity (ekWh/Mega Litres)
4507,York University,Post-Secondary Educational Institution,University,Winters College (368),Administrative offices and related facilities,4700 Keele Street,Toronto,M3J 1P3,6897.26,Square meters,NaN,85,1663006,kWh,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19511.0268,Giga Joule - steam or hot water,0,NaN,2848.801,Giga Joule - chilled water,0,NaN,0,NaN,1355725.682733,NaN,98.627309,3.82194,NaN

In [94]:
norm_york_2011[norm_york_2011['Operation Name'] == 'Winters College (368)']

,Organization Name,Sector Name,SubSector Name,Operation Name,Address,eWh/HDD/ft^2,Energy Intensity (ekWh/ML)
15525,York University,Post-Secondary Educational Institution,University,Winters College (368),4700 Keele Street,23.044362,NaN

In [7]:
(98.627309 * 1000.)/23.044362

4279.888894298744

## The join keys leaves some ambiguity

In [48]:
raw_2011[raw_2011['Operation Name'] == 'Glengarry Memorial Hospital']

,Organization Name,Sector Name,SubSector Name,Operation Name,Operation Type,Address,City,ZIP/Postal Code,Total Floor Area,Unit1,Annual Flow,Average Hours Per Week,Electricity,Unit2,Natural Gas,Unit3,Fuel Oil 1 & 2,Unit4,Fuel Oil 4 & 6,Unit5,Propane,Unit6,Coal,Unit7,Wood,Unit8,District Heat,Unit9,Renewable1,Emission Factor1,District Cool,Unit10,Renewable2,Emission Factor2,Swimming Pool,Number of Portables,GHG Emissions(Kg),Energy Intensity (GJ/Mega Litres),Energy Intensity (ekWh/sqft),Energy Intensity (GJ/m2),Energy Intensity (ekWh/Mega Litres)
3777,Alexandria Glengarry Memorial Hospital,Public Hospital,Acute/Chronic,Glengarry Memorial Hospital,Facilities used for hospital purposes,20260 County Road 43,Alexandria,K0C 1A0,51016,Square feet,NaN,168,1428141,kWh,234846,Cubic meter,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,0,NaN,0,NaN,584021.132082,NaN,76.917671,2.980663,NaN
3778,Alexandria Glengarry Memorial Hospital,Public Hospital,Acute/Chronic,Glengarry Memorial Hospital,Administrative offices and related facilities,20260 County Road 43,Alexandria,K0C 1A0,3953,Square feet,NaN,65,110660,kWh,18197,Cubic meter,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,0,NaN,0,NaN,45252.845919,NaN,76.917192,2.980645,NaN

In [49]:
norm_2011[norm_2011['Operation Name'] == 'Glengarry Memorial Hospital']

,Organization Name,Sector Name,SubSector Name,Operation Name,Address,eWh/HDD/ft^2,Energy Intensity (ekWh/ML)
2,Alexandria Glengarry Memorial Hospital,Public Hospital,Acute/Chronic,Glengarry Memorial Hospital,20260 County Road 43,18.506644,NaN
3,Alexandria Glengarry Memorial Hospital,Public Hospital,Acute/Chronic,Glengarry Memorial Hospital,20260 County Road 43,18.506758,NaN